<div class="container my-5">
  <h1 class="mb-4">All Theatres</h1>

  <% if @theatres.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Capacity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @theatres.each do |theatre| %>
          <tr>
            <td><%= theatre.name %></td>
            <td><%= theatre.city %></td>
            <td><%= theatre.capacity %></td>
            <td>
              <%= link_to "Delete", theatre_path(theatre), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No theatres found.</p>
  <% end %>

  <div class="mt-3">
    <%= link_to 'Create New Theatre', new_theatre_path, class: "btn btn-primary" %>
    <%= link_to 'Back to admin', admin_path, class: "btn btn-secondary" %>
    
  </div>
</div>
