<div class="container my-5">
  <h1 class="mb-4">All Movies</h1>

  <% if @movies.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Language</th>
          <th>Release Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.name %></td>
            <td><%= movie.language %></td>
            <td><%= movie.release_date %></td>
            <td>
              <%= link_to "Delete", movie_path(movie), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No movies found.</p>
  <% end %>

  <div class="mt-3">
    <%= link_to 'Create New Movie', new_movie_path, class: "btn btn-primary" %>
    <%= link_to 'Back to admin', admin_path, class: "btn btn-secondary" %>

  </div>
</div>
